@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dbe9b7;
}

#loginBox, #listBox {
    float: left;
    background-color: #fdfdf6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    font-family: 'Jua', sans-serif;
}

#loginBox {
    width: 300px;
    height: 250px;
    background-color: white;
    margin: 80px 10px auto 90px;
}

.row {
    padding: 10px 0;
}

.head {
    color: #838383;
    padding: 2px;
}

input[type=text],
input[type=password] {
    border-radius: 4px;
    border: 1px solid #ababab;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
}

#loginBtn, #inputInfo {
    float: left;
}

#loginBtn {
    margin-top: 35px;
    margin-left: 25px;
}

#login {
    width: 75px;
    height: 94px;
    border-radius: 3px;
    border: 1px solid #b8b2a6;
    background-color: #b8b2a6;
    cursor: pointer;
}

#login:hover {
    background-color: white;
}

#listBox {
    width: 800px;
    height: 790px;
    margin: 80px auto;
}

#userInfo {
    font-size: 18px;
}
#logoutBtn{
    float: right;
    margin-top: 60px;
}
#logout{
    width: 65px;
    height: 30px;
    border-radius: 3px;
    background-color: #b8b2a6;
    border: 1px solid #b8b2a6;
}
#logout:hover{
    cursor: pointer;
    background-color: white;
}

h1 {
    border-bottom: 1px solid #ababab;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
}

th {
    font-size: 19px;
}

td {
    text-align: center;
    height: 50px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}

a:hover {
    text-decoration: underline;
}

#ctrl {
    margin-top: 15px;
    float: right;
}

#white {
    border-radius: 3px;
    padding: 4px 10px;
    border: 1px solid #b8b2a6;
    background-color: white;
    cursor: pointer;
}

#white:hover {
    background-color: #e8e4e1;
}

.button {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

.brown {
    background-color: #b8b2a6;
    border: 1px solid #b8b2a6;
}

.brown:hover {
    background-color: #b9ac92;
}

.all {
    background-color: white;
    border: 1px solid #b8b2a6;
}

.all:hover {
    background-color: #e8e4e1;
}

#pagination {
    margin: 15px auto;
}

.list {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.list:hover {
    color: white;
    background-color: #596e79;
}

#search {
    text-align: center;
}

input[name=keyword], select {
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ababab;
}